In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,31-Aug-2021,53.40,54.90,54.90,53.60,53.75,53.85,54.15,44967,24.35,1360,27414,60.96
1,21STCENMGM,EQ,31-Aug-2021,32.90,33.55,33.55,33.55,33.55,33.55,33.55,563,0.19,11,563,100
2,3MINDIA,EQ,31-Aug-2021,22979.10,23100.00,24838.30,23100.00,24005.00,24391.45,24207.31,16209,3923.76,7478,4633,28.58
3,3PLAND,BE,31-Aug-2021,14.10,14.75,14.75,13.50,14.35,14.35,14.39,2248,0.32,31,-,-
4,5PAISA,EQ,31-Aug-2021,450.15,453.40,466.80,452.00,464.00,462.15,459.07,38288,175.77,1124,15824,41.33

In [4]:
print(df['PREV_CLOSE'].dtype)

float64

In [5]:
print(df['PREV_CLOSE'])

0          53.40
1          32.90
2       22979.10
3          14.10
4         450.15
          ...
2068      133.55
2069      350.95
2070      119.75
2071      131.00
2072     2297.80
Name: PREV_CLOSE, Length: 2073, dtype: float64

In [6]:
print(df['SERIES'].astype('category'))

0        EQ
1        EQ
2        EQ
3        BE
4        EQ
       ...
2068     EQ
2069     EQ
2070     BE
2071     BE
2072     EQ
Name: SERIES, Length: 2073, dtype: category
Categories (65, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' Z4', ' Z5', ' Z6', ' ZJ']