In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[2,7,3],[6,3,9]], columns=['A','B','C'])

In [3]:
df

   A  B  C
0  1  2  3
1  2  7  3
2  6  3  9

In [4]:
df2 = pd.DataFrame([[11,7,312],[22,2,33],[63,3,92]], columns=['X','Y','Z'])

In [5]:
df2

    X  Y    Z
0  11  7  312
1  22  2   33
2  63  3   92

In [6]:
pd.merge(df, df2, right_on='Y', left_on='B')

   A  B  C   X  Y    Z
0  1  2  3  22  2   33
1  2  7  3  11  7  312
2  6  3  9  63  3   92